# Common Data Types

## Strings 
### A sequence of characters definedd by either single or double quotes

In [ ]:
'Hello World'

In [ ]:
'Hello World'. upper()

In [ ]:
'Hello World' . lower()

In [ ]:
'Hello World' . capitalize()

In [ ]:
'Hello World' * 2

In [ ]:
'Hello' + 'Wolrd'

## Intergers
### Whole numbers eg 5
## Floats
### Decimals eg 1.2

In [ ]:
int ('1')

In [ ]:
int (1.1)

In [ ]:
float ('1.1')

In [ ]:
float (1)

In [ ]:
7/3 #Python will convert an interger to a float when performing maths operations

## Lists
### Changeable collection of ordered items
### Use for a collection that will change

In [ ]:
[1,2,3,34]

In [ ]:
['Alice', 'John']

In [ ]:
numbers=[1,2,3,4]

In [ ]:
fruits=['apples','banana', 'cherry']

In [ ]:
mixed=[1, 'apple', True]

### Accessing the elements

In [ ]:
print(numbers[0]) #prints the first element

In [ ]:
print(fruits[2]) #prints the third element

##### Negative indexing

In [ ]:
print(fruits[-1]) #prints the last element

In [ ]:
print(fruits[-2]) #prints the second last element

##### Modifying lists

You can add items and remove items from lists.

In [ ]:
fruits=['apples','banana', 'cherry']

In [ ]:
print(fruits)

In [ ]:
 fruits. append('orange')#adds orange as the last element in the list

In [ ]:
print(fruits)

In [ ]:
fruits.insert(1, 'watermelon') # adds watermelon as the second element in the list

In [ ]:
print(fruits)

In [ ]:
fruits.remove('orange')

In [ ]:
print(fruits)

In [ ]:
fruits.remove('watermelon')

In [ ]:
print(fruits)

If you run the codes 'remove' and 'append' more than once, the outcome repeats itself, ie if you run the code with append twice, the outcome will have the element added twice.

In [ ]:
fruits=['apples','banana', 'cherry']

In [ ]:
del fruits[0] #removes the first element in the list fruits

In [ ]:
print(fruits)

In [ ]:
fruits.pop() #removes the last element in the list

In [ ]:
print(fruits)

In [ ]:
fruits=['apples','banana', 'cherry']

In [ ]:
fruits.pop()

In [ ]:
print(fruits)

##### Slicing lists

In [ ]:
fruits=['apples','banana', 'cherry','watermelon']

In [ ]:
sliced_fruits = fruits[1:3] #prints the second element not including the third
print(sliced_fruits)

In [ ]:
sliced_fruits = fruits[1:4] #prints the second element not including the third
print(sliced_fruits)

## Tuples
### Unchangeable collection of ordered items
### Cannot be changed
### Use for fixed data eg coordinates, days of the weeks, data base records

#### Creating tuples

In [ ]:
colors=('red','green', 'blue') #three item tuple

In [ ]:
single_item=('glass',) #use a comma at the end to write a single item tuple

#### Accessing elements

In [ ]:
colors=('red','green', 'blue') #prints the first element in a tuple
print(colors[0])

In [ ]:
print(colors[-1])

## Dictionaries
### These are key value pairs.

#### Creating a dictionary

In [ ]:
student ={'name':'Alice', 'age':25, 'grade': 'A'} #gives you the student name
print(student['age'])

#### Adding and Updating a dictionary

In [ ]:
student ={'name':'Alice', 'age':25, 'grade': 'A'} 
student['subject']='Maths' #Adds a key and a value
student['age']=32 #Updates the age 
print(student)

#### Removing

In [ ]:
student ={'name':'Alice', 'age':25, 'grade': 'A'} #gives you the student name
print(student)

In [ ]:
del student['grade']
print (student)

In [ ]:
student.pop('name', None) #removes the key student
print (student)

In [ ]:
student ={'name':'Alice', 'age':25, 'grade': 'A'} #gives you the student name
print(student)

In [ ]:
student['gender']='Female'
print(student)

In [ ]:
student.pop('age', None)  #removes the key age
print(student)

#### Iteration

In [ ]:
student ={'name':'Alice', 'age':25, 'grade': 'A'}
student['gender']='Female'
print(student)

In [ ]:
for key, value in student.items():
    print(key,value)

### Creating a dictionary of the show friends

In [ ]:
friends={'name':'Friends', 'genre':'sitcom', 'no_of_episodes':10}
print(friends['genre'])

In [ ]:
help(dict) #see all methods available for dictionary objects

In [ ]:
friends.get #Add a dot (.) after 'friends' and press tab to see all of the available methods
friends

In [ ]:
friends.get? #Pulling up documentation for a specific method
friends.get?

In [ ]:
friends={'name':'Friends', 'genre':'Sitcom', 'no_of_seasons':10,'creators':['David Crane','Marta Kauffman']}
print(friends['creators'])

In [ ]:
first_creator = friends['creators'][0]
print(first_creator)

In [ ]:
second_creator = friends['creators'][1]
print(second_creator)

In [ ]:
seinfeld={'name':'Seinfeld','genre':'Sitcom', 'creators':['Larry David','Jerry Seinfeld'], 'no_of_seasons':9, 'no_of_episodes':180}
print(seinfeld['name'])

In [ ]:
tv_shows = [friends, seinfeld]
tv_shows

In [ ]:
tv_shows[1]

In [ ]:
tv_shows[0]

In [ ]:
tv_shows[1]['creators']

In [ ]:
tv_shows[1]['creators'][1]

In [ ]:
greenville = {'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554}
#Here is a dictionary representing the city of Greenville, North Carolina. The area is in kilometers squared.

In [ ]:
greenville={'Area':68, 'City': 'Greenville', 'Country': 'USA', 'Population':84554}
print(greenville['Population'])
#retrieving the population of the city

In [ ]:
greenville={'Area':68, 'City': 'Greenville', 'Country': 'USA', 'Population':84554}
print(greenville['Population'])

In [ ]:
greenville_population=greenville['Population']
print(greenville_population)

In [ ]:
greenville_area=greenville['Area']
print(greenville_area)
#Retrieving area

In [ ]:
city_keys = ['Area', 'City', 'Greenville', 'Country', 'Population']
print(city_keys)

In [ ]:
city_values=[68, 'Greenville', 'USA',84554]
print(city_values)

In [ ]:
!pip install openpyxl

In [ ]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Lenovo\Downloads\cities.xlsx')
print(df.head())

In [ ]:
cities=[{'City': 'Solta', 'Country': 'Croatia', 'Population': 1700, 'Area': 59},
 {'City': 'Greenville', 'Country': 'USA', 'Population': 84554, 'Area': 68},
 {'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 13591863,
  'Area': 4758},
 {'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651,
  'Area': 3750},
 {'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237,
  'Area': 33},
 {'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850, 'Area': 200},
 {'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277,
  'Area': 491},
 {'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000,
  'Area': 8300},
 {'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0,
  'Area': 672},
 {'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000, 'Area': 27},
 {'City': 'Toronto', 'Country': 'Canada', 'Population': 630, 'Area': 2731571},
 {'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000,
  'Area': 3194}]

#### First, access the third to last element and set it equal to the variable salina.

In [ ]:
salina = cities[-3]
print(salina)

#### Now access the fourth city in the list, and set its population equal to a variable called los_cabos_pop.

In [ ]:
los_cabos_pop=cities[4]['Population']
print(los_cabos_pop)

#### Now calculate the number of cities in the list and assign the number to the variable city_count

In [ ]:
city_count=len(cities)
print(city_count)

#### Finally, change the spelling of the South Korean city, Pyeongchang, to the string 'PyeongChang', its alternative spelling.

In [ ]:
cities[11]['City'] = 'PyeongChang'
print(cities[11])

#### Now let's work on retrieving a collection of information about a dictionary. Use the appropriate dictionary method to return a list of values in the dictionary regarding Pyeongchang. Assign the list to the variable pyeongchang_values.

In [ ]:
pyeongchang_values = list(cities[11].values())
print(pyeongchang_values)

####  now set pyeongchang_keys equal to a list of keys in the dictionary regarding Pyeongchang.

In [ ]:
pyeongchang_keys = list(cities[11].keys())
print(pyeongchang_keys)

## Sets

## Booleans- true or false

## Udemy exercise- day 1

### Practice writing and manipulating variables of different data types

In [ ]:
integer_var=10
float_var=3.14
string_var='AI'
list_var=[1,2,3]
tuple_var=(4,5,6)
dict_var={'name':'Alice', 'role':'Engineer'}
boolean_var=True

In [ ]:
print('integer:', integer_var)

In [ ]:
print('float:', float_var)

In [ ]:
print('string:', string_var + 'bootcamp')

In [ ]:
list_var.append(4)
print('list:',list_var)

In [ ]:
print('tuple:', tuple_var)

In [ ]:
print('dictionary:', dict_var['name'])

In [ ]:
print('boolean:',boolean_var)

## Control flow in Python

### Conditionals allow you to make decisions based on conditions(true or false)
#### if-executes code if a codition is true
#### elseif-adds additional conditions after the initial if
#### else- executes code if none of the previous conditions are  met

### Checking a condition

In [ ]:
num = 10
if num > 0:
    print('Positive Number')
elif num == 0:
    print('Zero')
else:
    print('Negative Number')

## Nested conditions
### Conditional statements placed inside other conditional statements

In [ ]:
age=25
if age>18:
    if age<30:
        print('Young Adult')
    else:
        print('Adult')

In [ ]:
age=41
if age>18:
    if age<30:
        print('Young Adult')
    else:
        print('Adult')

In [ ]:
age=5
if age>18:
    if age<30:
        print('Young Adult')
    else:
        print('Adult')

number_50 = 50
my_number = None
if number_50 > 100:
    # if number_50 is greater than 100, assign the `my_number` variable to the number 100
elif number_50 > 50:
    # if number_50 is greater than 50, assign the `my_number` variable to the number 50
else:
    # else assign the `my_number` variable to 0

In [ ]:
number_50=50
my_number=None
if number_50>100:
    my_number=100
elif number_50>50:
    my_number=50
else:
    my_number=0
print (my_number)

Below, use conditionals to tell whether it is hot outside or not. If it is hot, assign the string "It is so hot out!" to the variable is_it_hot. If it is not hot, assign the string "This is nothing! Bring on the heat.". For our purposes, anything over 80 degrees is considered hot.

In [ ]:
temperature = 85
is_it_hot = None
if temperature>85:
    is_it_hot='It is so hot out!'
else:
    is_it_hot='This is nothing!Bring on the heat.'
print (is_it_hot)

Next, let's see what day of the week it is. There are 7 days in the week starting with Sunday at day 1 and ending with Saturday at day 7. Use conditional statements to assign the day of the week to the variable day_of_the_week based on the number below assigned to the variable today_is. For example, if the day is 2, we would assign day_of_the_week the value "Monday".

In [ ]:
today_is = 4
day_of_the_week = None
if today_is == 1:
    day_of_the_week= 'Sunday'
elif today_is == 2:
    day_of_the_week = 'Monday'
elif today_is == 3:
    day_of_the_week = 'Tuesday'
elif today_is == 4:
    day_of_the_week = 'Wednesday'
elif today_is == 5:
    day_of_the_week = 'Thursday'
elif today_is == 6:
    day_of_the_week = 'Friday'
elif today_is == 7:
    day_of_the_week = 'Saturday'
print (day_of_the_week)

## Loops

### for loops- allow you to iterate over elements in a collection, eg lists, tuples, dictionaries, set etc

syntax for for-loop
for item in sequence:
    write the code block here

In [ ]:
#loop through a list of fruits
fruits= ['apple','banana','cherry']
for fruit in fruits:
    print(fruit)

In [ ]:
#loop through a range
for i in range(5):
    print (i)

In [ ]:
for i in range (10,15):
    print (i)

In [ ]:
#increament of the sequence with 3
for i in range (2,30,3):
    print (i)

Loop through the letters in the word "banana":

In [ ]:
#looping through a string
for x in 'banana': 
    print(x)

### while loop- executes so long as the condition is true.

syntax for while loop
while condition:
 #write code block here
remember to increament or decreament otherwise the loop will run forever.

In [ ]:
count = 5
while count >0:
    print (count)
    count -=1

Print i as long as i is less than 6:

In [ ]:
i = 0
while i < 6:
    print(i)
    i += 1

### Break and continue

Break- terminates the loop prematurely when a condition is met.
Continue- skips the current iteration and continues to the next.

In [ ]:
for i in range (10):
    if i ==5:
        break
    print (i)

In [ ]:
for i in range (10):
    if i == 7:
        continue
    print  (i)

In [ ]:
# print only odd numbers in the range of 10
for i in range (10):
    if i % 2 ==0:
        continue
    print (i)

In [ ]:
# check if a number is a prime number
num = int(input("Enter a number: "))

if num < 2:
    print(f"{num} is not a prime number.")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

In [ ]:
# create a menu driven calculator
# write a program to calculate the factorial of a number using a while loop

## Functions and Modules

Functions allow us to reuse code to help us solve different problems.

function syntax
def function_name (parameters):
write code block here
return result
def name_of_function(): # signature
    words = 'function body' # body
    print(words) # body

In [ ]:
#create a function with parameters and return values
def add_numbers(a,b):
    return (a+b)
result= add_numbers(45,3)
print ('sum:', result)

Imagine we are creating a list of travel destinations -- which can really turn out to be a full time job if we like to travel. We have our list of travel_destinations which we assign below. Write a function called number_of_destinations() that returns the number of destinations we have on our list.
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']

In [ ]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def number_of_destinations():
    return len(travel_destinations)
print ('Number of destinations:', number_of_destinations())

Now write another function called next_up() that returns our first destination (the destination with the lowest index), in the list_of_destinations list.

In [ ]:
travel_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
def next_up():
    return travel_destinations[0]
print ('Next up:',next_up())

Now write another function called next_up() that returns our first destination (the destination with the lowest index), in the list_of_destinations list.

In [ ]:
list_of_destinations = ['argentina', 'canada', 'croatia']
def next_up():
    return list_of_destinations[0]
print ('Next up:',next_up())

Ok, now write a function called favorite_destination() that returns the string 'madagascar'.

In [ ]:
list_of_destinations = ['argentina', 'canada', 'croatia']
def favorite_destination():
    list_of_destinations.append('madagascar')
    return 'madagascar'
print ('Favorite Destination:',favorite_destination())

Now let's write another function called capitalize_countries() which iterates through the list of capitalized_destinations and capitalizes the first letter of each word. It should return a list of capitalized destinations.

In [ ]:
capitalized_destinations = ['argentina', 'canada', 'croatia', 'madagascar']
def capitalize_countries():
    capitalized_list = []
    for country in capitalized_destinations:
        capitalized_list.append(country.capitalize())
    return capitalized_list
print("Capitalized Destinations:", capitalize_countries())